@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("./reset.css");

:root {
    --color-primary: #37308f;
    --color-dark: DimGray;
    --color-accent: white;
    --color-success: #4a9d71;
    --color-err: #f44336;

    --text-base: 1rem;
    --text-md: calc(var(--text-base) * 1.3);
    --text-lg: calc(var(--text-base) * 1.5);
    --text-xl: calc(var(--text-base) * 3);

    --br-md: 0.6rem;

    --ff-default: "IBM Plex Sans";

    --transition-default: all 0.3s ease;
}

body {
    background-color: var(--color-primary);
    color: var(--color-accent);
    font-family: var(--ff-default), sans-serif;
}

main,
.shorten-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

main {
    margin: 1rem auto;
    width: min(90%, 40rem);
    height: 70vh;
}

.main-title {
    font-weight: 900;
    font-size: var(--text-xl);
    text-align: center;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: var(--transition-default);
    font-weight: 800;
    font-size: var(--text-lg);
    & * {
        transition: var(--transition-default);
    }
    & span {
        display: flex;
        border-radius: var(--br-md);
        background-color: var(--color-accent);
        overflow: hidden;
    }

    & input,
    button {
        outline: none;
        border: none;
        padding: 0.7rem 1rem;
        font-size: var(--text-md);
    }

    & input:disabled,
    button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    & input {
        border-radius: var(--br-md) 0 0 var(--br-md);
        width: 70%;
        font-weight: 600;
    }

    & input:focus {
        outline: none;
        border: none;
    }

    & button {
        margin-left: auto;
        background-color: var(--color-dark);
        width: 30%;
        color: var(--color-accent);
        font-weight: bold;
    }

    & button:hover {
        cursor: pointer;
    }

    & button:active {
        opacity: 0.8;
    }

    & small {
        color: var(--color-err);
        font-style: italic;
        font-size: var(--text-md);
    }
}

.input-label-invalid {
    & p {
        color: var(--color-err);
    }
    & span {
        border: 5px solid var(--color-err);
    }
}

.button-base {
    transition: var(--transition-default);
    outline: none;
    border: none;
    border-radius: var(--br-md);
    padding: 0.6rem 2rem;
    width: min-content;
    color: var(--color-accent);
    font-weight: 700;
    font-size: var(--text-lg);
    white-space: nowrap;
}

.button-base:hover {
    opacity: 0.6;
    cursor: pointer;
}

.button-base:active {
    scale: 1.1;
}

.button-base:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.submit-button {
    margin-inline: auto;
    background-color: var(--color-success);
}

.go-home-button {
    background-color: var(--color-success);
    text-decoration: none;
}

.err-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    & h1 {
        font-weight: 800;
        font-size: 10rem;
    }

    & p {
        opacity: 0.6;
        margin-block: 1rem;
        font-weight: 600;
        font-size: var(--text-md);
    }

    & small,
    h2 {
        font-weight: 800;
        font-size: var(--text-lg);
    }
}
